@import "_reset";
@import "_variables";

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: $red;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	height: 100vh;
}

img {
	width: 100px;
}

footer {
	display: none;
}

h1 {
	color: white;
	font-size: 30px;
	font-weight: 200;
	margin-top: 10px;
}
